#### Import libraries

In [1]:
import pandas as pd
from os import getcwd, pardir
from os.path import join, abspath

#### Get `EM-DAT` _natural disaster_ data

In [2]:
parent_dir = abspath(join(getcwd(), pardir))
data_dir = join(parent_dir, 'data')
df = pd.read_excel(join(data_dir, "transformed_emdat_natural_disasters.xlsx"))
df.head()

/opt/homebrew/Caskroom/mambaforge/base/envs/mgma/lib/python3.9/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,Year,Seq,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,Country,Region,Continent,...,Start Month,Start Day,End Year,End Month,End Day,Total Deaths,No Injured,No Affected,No Homeless,Total Affected
0,1900,9002,Natural,Climatological,Drought,Drought,Drought,Cabo Verde,Western Africa,Africa,...,NaN,NaN,1900,NaN,NaN,11000.0,NaN,NaN,NaN,NaN
1,1900,9001,Natural,Climatological,Drought,Drought,Drought,India,Southern Asia,Asia,...,NaN,NaN,1900,NaN,NaN,1250000.0,NaN,NaN,NaN,NaN
2,1901,3,Technological,Technological,Industrial accident,Explosion,Industrial accident / Explosion,Belgium,Western Europe,Europe,...,4.0,27.0,1901,4.0,27.0,18.0,NaN,NaN,NaN,NaN
3,1902,12,Natural,Geophysical,Earthquake,Ground movement,Earthquake / Ground movement,Guatemala,Central America,Americas,...,4.0,18.0,1902,4.0,18.0,2000.0,NaN,NaN,NaN,NaN
4,1902,3,Natural,Geophysical,Volcanic activity,Ash fall,Volcanic activity / Ash fall,Guatemala,Central America,Americas,...,4.0,8.0,1902,4.0,8.0,1000.0,NaN,NaN,NaN,NaN

In [3]:
df.columns

Index(['Year', 'Seq', 'Disaster Group', 'Disaster Subgroup', 'Disaster Type',
       'Disaster Subtype', 'Disaster Subsubtype', 'Country', 'Region',
       'Continent', 'Location', 'Dis Mag Scale', 'Latitude', 'Longitude',
       'Local Time', 'Start Year', 'Start Month', 'Start Day', 'End Year',
       'End Month', 'End Day', 'Total Deaths', 'No Injured', 'No Affected',
       'No Homeless', 'Total Affected'],
      dtype='object')

In [4]:
# rename all columns to lowercase and replace spaces with underscores
df.columns = df.columns.str.lower().str.replace(' ', '_')

In [33]:
# load data from raw data folder and join with transformed data based on country name
df_raw = pd.read_excel(join(data_dir, "raw", "emdat_natural_disasters.xlsx"), skiprows=6)
df_raw.head()

/opt/homebrew/Caskroom/mambaforge/base/envs/mgma/lib/python3.9/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,Dis No,Year,Seq,Glide,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,Event Name,...,"Reconstruction Costs, Adjusted ('000 US$)",Insured Damages ('000 US$),"Insured Damages, Adjusted ('000 US$)",Total Damages ('000 US$),"Total Damages, Adjusted ('000 US$)",CPI,Adm Level,Admin1 Code,Admin2 Code,Geo Locations
0,1900-9002-CPV,1900,9002,NaN,Natural,Climatological,Drought,Drought,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3.077091,NaN,NaN,NaN,NaN
1,1900-9001-IND,1900,9001,NaN,Natural,Climatological,Drought,Drought,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3.077091,NaN,NaN,NaN,NaN
2,1901-0003-BEL,1901,3,NaN,Technological,Technological,Industrial accident,Explosion,NaN,Coal mine,...,NaN,NaN,NaN,NaN,NaN,3.077091,NaN,NaN,NaN,NaN
3,1902-0012-GTM,1902,12,NaN,Natural,Geophysical,Earthquake,Ground movement,NaN,NaN,...,NaN,NaN,NaN,25000.0,781207.0,3.200175,NaN,NaN,NaN,NaN
4,1902-0003-GTM,1902,3,NaN,Natural,Geophysical,Volcanic activity,Ash fall,NaN,Santa Maria,...,NaN,NaN,NaN,NaN,NaN,3.200175,NaN,NaN,NaN,NaN

In [35]:
# only keep country name and iso3 code
df_raw = df_raw[['Country', 'ISO']]

In [36]:
# merge dataframes
df = df.merge(df_raw, left_on='country', right_on='Country', how='left')

In [37]:
df.shape

(8415386, 28)

In [41]:
# remove duplicate rows
df = df.drop_duplicates()
df.shape

(16413, 28)

In [43]:
# remove Country column
df = df.drop(columns=['Country'])

Index(['year', 'seq', 'disaster_group', 'disaster_subgroup', 'disaster_type',
       'disaster_subtype', 'disaster_subsubtype', 'country', 'region',
       'continent', 'location', 'dis_mag_scale', 'latitude', 'longitude',
       'local_time', 'start_year', 'start_month', 'start_day', 'end_year',
       'end_month', 'end_day', 'total_deaths', 'no_injured', 'no_affected',
       'no_homeless', 'total_affected', 'ISO'],
      dtype='object')

In [42]:
# display all columns
pd.set_option('display.max_columns', None)
df.head(20)

,year,seq,disaster_group,disaster_subgroup,disaster_type,disaster_subtype,disaster_subsubtype,country,region,continent,location,dis_mag_scale,latitude,longitude,local_time,start_year,start_month,start_day,end_year,end_month,end_day,total_deaths,no_injured,no_affected,no_homeless,total_affected,Country,ISO
0,1900,9002,Natural,Climatological,Drought,Drought,Drought,Cabo Verde,Western Africa,Africa,Countrywide,Km2,NaN,NaN,NaN,1900,NaN,NaN,1900,NaN,NaN,11000.0,NaN,NaN,NaN,NaN,Cabo Verde,CPV
26,1900,9001,Natural,Climatological,Drought,Drought,Drought,India,Southern Asia,Asia,Bengal,Km2,NaN,NaN,NaN,1900,NaN,NaN,1900,NaN,NaN,1250000.0,NaN,NaN,NaN,NaN,India,IND
1576,1902,12,Natural,Geophysical,Earthquake,Ground movement,Earthquake / Ground movement,Guatemala,Central America,Americas,"Quezaltenango, San Marcos",Richter,14,-91,20:20,1902,4.0,18.0,1902,4.0,18.0,2000.0,NaN,NaN,NaN,NaN,Guatemala,GTM
1736,1902,3,Natural,Geophysical,Volcanic activity,Ash fall,Volcanic activity / Ash fall,Guatemala,Central America,Americas,NaN,NaN,NaN,NaN,NaN,1902,4.0,8.0,1902,4.0,8.0,1000.0,NaN,NaN,NaN,NaN,Guatemala,GTM
1896,1902,10,Natural,Geophysical,Volcanic activity,Ash fall,Volcanic activity / Ash fall,Guatemala,Central America,Americas,NaN,NaN,NaN,NaN,NaN,1902,10.0,24.0,1902,10.0,24.0,6000.0,NaN,NaN,NaN,NaN,Guatemala,GTM
2056,1903,6,Natural,Geophysical,Mass movement (dry),Rockfall,Mass movement (dry) / Rockfall,Canada,Northern America,Americas,"Frank, Alberta",NaN,NaN,NaN,NaN,1903,4.0,29.0,1903,4.0,29.0,76.0,23.0,NaN,NaN,23.0,Canada,CAN
2294,1903,12,Natural,Geophysical,Volcanic activity,Ash fall,Volcanic activity / Ash fall,Comoros (the),Eastern Africa,Africa,NaN,NaN,NaN,NaN,NaN,1903,NaN,NaN,1903,NaN,NaN,17.0,NaN,NaN,NaN,NaN,Comoros (the),COM
2337,1904,3,Natural,Meteorological,Storm,Tropical cyclone,Storm / Tropical cyclone,Bangladesh,Southern Asia,Asia,Chittagong,Kph,NaN,NaN,NaN,1904,11.0,NaN,1904,11.0,NaN,NaN,NaN,NaN,NaN,NaN,Bangladesh,BGD
2914,1905,5,Natural,Geophysical,Mass movement (dry),Rockfall,Mass movement (dry) / Rockfall,Canada,Northern America,Americas,"Spence's Bridge, British Columbia",NaN,NaN,NaN,NaN,1905,8.0,13.0,1905,8.0,13.0,18.0,18.0,NaN,NaN,18.0,Canada,CAN
3152,1905,3,Natural,Geophysical,Earthquake,Ground movement,Earthquake / Ground movement,India,Southern Asia,Asia,Kangra,Richter,32.04,76.16,06:20,1905,4.0,4.0,1905,4.0,4.0,20000.0,NaN,NaN,NaN,NaN,India,IND
4702,1906,14,Natural,Geophysical,Earthquake,Ground movement,Earthquake / Ground movement,Chile,South America,Americas,Valparaiso,Richter,33.05,71.4,19:57,1906,8.0,16.0,1906,8.0,16.0,20000.0,NaN,NaN,NaN,NaN,Chile,CHL
4845,1906,2,Natural,Geophysical,Earthquake,Ground movement,Earthquake / Ground movement,Colombia,South America,Americas,Tumako,Richter,1.51 N,78.46 W,NaN,1906,1.0,31.0,1906,1.0,31.0,400.0,NaN,NaN,NaN,NaN,Colombia,COL
5170,1906,23,Natural,Hydrological,Flood,Flood,Flood,Belgium,Western Europe,Europe,Louvain region,Km2,NaN,NaN,NaN,1906,5.0,14.0,1906,5.0,14.0,6.0,NaN,NaN,NaN,NaN,Belgium,BEL
5323,1906,24,Natural,Hydrological,Flood,Flood,Flood,Belgium,Western Europe,Europe,NaN,Km2,NaN,NaN,NaN,1906,4.0,NaN,1906,4.0,NaN,NaN,NaN,NaN,NaN,NaN,Belgium,BEL
5476,1906,15,Natural,Meteorological,Storm,Tropical cyclone,Storm / Tropical cyclone,Hong Kong,Eastern Asia,Asia,NaN,Kph,NaN,NaN,NaN,1906,9.0,8.0,1906,9.0,8.0,10000.0,NaN,NaN,NaN,NaN,Hong Kong,HKG
5600,1907,6,Natural,Geophysical,Earthquake,Ground movement,Earthquake / Ground movement,China,Eastern Asia,Asia,Tien Shan,Richter,38.5,69.9,09:23,1907,10.0,21.0,1907,10.0,21.0,12000.0,NaN,NaN,NaN,NaN,China,CHN
7563,1907,1,Natural,Biological,Epidemic,Bacterial disease,Epidemic / Bacterial disease,India,Southern Asia,Asia,NaN,Vaccinated,NaN,NaN,NaN,1907,NaN,NaN,1907,NaN,NaN,1300000.0,NaN,NaN,NaN,NaN,India,IND
9113,1908,11,Natural,Geophysical,Mass movement (dry),Landslide,Mass movement (dry) / Landslide,Canada,Northern America,Americas,"Notre Dame de La Salette, Quebec",NaN,NaN,NaN,NaN,1908,4.0,26.0,1908,4.0,26.0,33.0,NaN,NaN,NaN,NaN,Canada,CAN
9351,1909,10,Natural,Meteorological,Storm,Tropical cyclone,Storm / Tropical cyclone,Bangladesh,Southern Asia,Asia,Bakerganj,Kph,NaN,NaN,NaN,1909,10.0,15.0,1909,10.0,15.0,172.0,NaN,NaN,NaN,NaN,Bangladesh,BGD
9928,1909,13,Natural,Meteorological,Storm,Tropical cyclone,Storm / Tropical cyclone,Bangladesh,Southern Asia,Asia,West Sundarbans,Kph,NaN,NaN,NaN,1909,12.0,NaN,1909,12.0,NaN,NaN,NaN,NaN,NaN,NaN,Bangladesh,BGD

In [22]:
df.shape

(16413, 26)

In [45]:
# check for missing values for each column
df.isnull().sum()

year                       0
seq                        0
disaster_group             0
disaster_subgroup          0
disaster_type              0
disaster_subtype           0
disaster_subsubtype        0
country                    0
region                     0
continent                  0
location                1792
dis_mag_scale           1203
latitude               13659
longitude              13660
local_time             15280
start_year                 0
start_month              389
start_day               3603
end_year                   0
end_month                702
end_day                 3518
total_deaths            4730
no_injured             12363
no_affected             6911
no_homeless            13960
total_affected          4471
ISO                        0
dtype: int64

In [32]:
df.shape

(16413, 26)

In [23]:
# find the df shape after dropping all rows with missing values for columns "total_deaths" and "total_affected"
df.dropna(subset=['total_deaths', 'total_affected'], how='any').shape

(8630, 26)

In [49]:
# drop all rows with missing values for columns "total_deaths" and "total_affected"
df = df.dropna(subset=['total_deaths', 'total_affected'], how='any')
df.shape

(8630, 27)

In [48]:
# find the unique years in sorted manner after dropping all rows with missing values for columns "total_deaths" and "total_affected"
df.dropna(subset=['total_deaths', 'total_affected'], how='any')['disaster_type'].value_counts()

Flood                    3463
Storm                    2283
Epidemic                 1099
Earthquake                944
Landslide                 407
Wildfire                  155
Extreme temperature       140
Volcanic activity          64
Drought                    53
Mass movement (dry)        20
Animal accident             1
Glacial lake outburst       1
Name: disaster_type, dtype: int64

In [46]:
# find the unique years in sorted manner after dropping all rows with missing values for columns "total_deaths" and "total_affected" and find nan values for each column
df.dropna(subset=['total_deaths', 'total_affected'], how='any').isnull().sum()

year                      0
seq                       0
disaster_group            0
disaster_subgroup         0
disaster_type             0
disaster_subtype          0
disaster_subsubtype       0
country                   0
region                    0
continent                 0
location                418
dis_mag_scale           493
latitude               6823
longitude              6823
local_time             7899
start_year                0
start_month              65
start_day              1217
end_year                  0
end_month                82
end_day                1124
total_deaths              0
no_injured             5076
no_affected            1981
no_homeless            6722
total_affected            0
ISO                       0
dtype: int64

In [19]:
# filter df to only include disaster group 'Natural'
df = df[df['disaster_group'] == 'Natural']

In [20]:
# find frequency of each disaster type
df['disaster_type'].value_counts()

Flood                    5715
Storm                    4555
Earthquake               1573
Epidemic                 1515
Drought                   792
Landslide                 785
Extreme temperature       607
Wildfire                  453
Volcanic activity         269
Insect infestation         95
Mass movement (dry)        48
Glacial lake outburst       3
Fog                         1
Impact                      1
Animal accident             1
Name: disaster_type, dtype: int64

In [11]:
# find unique values for columns "disaster_type", "disaster_subtype", "disaster_subsubtype", "disaster_group", "disaster_subgroup"
for col in ["disaster_type", "disaster_subtype", "disaster_subsubtype", "disaster_group", "disaster_subgroup"]:
    print(col, df[col].unique(), end="\n\n")

disaster_type ['Drought' 'Industrial accident' 'Earthquake' 'Volcanic activity'
 'Mass movement (dry)' 'Miscellaneous accident' 'Storm' 'Flood'
 'Transport accident' 'Epidemic' 'Landslide' 'Wildfire'
 'Extreme temperature ' 'Fog' 'Complex Disasters' 'Insect infestation'
 'Impact' 'Animal accident' 'Glacial lake outburst']

disaster_subtype ['Drought' 'Explosion' 'Ground movement' 'Ash fall' 'Rockfall' 'Fire'
 'Tropical cyclone' 'Flood' 'Water' 'Rail' 'Collapse' 'Bacterial disease'
 'Landslide' 'Other' 'Avalanche' 'Forest fire' 'Riverine flood'
 'Convective storm' 'Air' 'Viral disease' 'Mudslide' 'Tsunami' 'Storm'
 'Heat wave' 'Land fire (Brush, Bush, Pasture)' 'Gas leak' 'Wildfire'
 'Road' 'Fog' 'Coastal flood' 'Cold wave' 'Flash flood'
 'Parasitic disease' 'Chemical spill' 'Poisoning' 'Famine' 'Oil spill'
 'Epidemic' 'Locust' 'Complex Disasters' 'Radiation'
 'Miscellaneous accident' 'Insect infestation' 'Severe winter conditions'
 'Grasshopper' 'Subsidence' 'Extra-tropical storm' 'Mass movement (dry)'
 'Impact' 'Lava flow' 'Volcanic activity' 'Animal accident'
 'Pyroclastic flow ' 'Earthquake' 'Glacial lake outburst'
 'Industrial accident']

disaster_subsubtype ['Drought' 'Industrial accident / Explosion'
 'Earthquake / Ground movement' 'Volcanic activity / Ash fall'
 'Mass movement (dry) / Rockfall' 'Miscellaneous accident / Fire'
 'Miscellaneous accident / Explosion' 'Storm / Tropical cyclone' 'Flood'
 'Transport accident / Water' 'Transport accident / Rail'
 'Miscellaneous accident / Collapse' 'Epidemic / Bacterial disease'
 'Mass movement (dry) / Landslide' 'Industrial accident / Other'
 'Landslide / Avalanche' 'Wildfire / Forest fire' 'Flood / Riverine flood'
 'Tornado' 'Transport accident / Air' 'Epidemic / Viral disease'
 'Landslide' 'Landslide / Mudslide' 'Earthquake / Tsunami' 'Hail' 'Storm'
 'Extreme temperature  / Heat wave'
 'Wildfire / Land fire (Brush, Bush, Pasture)'
 'Industrial accident / Gas leak' 'Miscellaneous accident / Other'
 'Industrial accident / Fire' 'Wildfire' 'Transport accident / Road' 'Fog'
 'Flood / Coastal flood' 'Industrial accident / Collapse' 'Severe storm'
 'Winter storm/Blizzard' 'Extreme temperature  / Cold wave'
 'Flood / Flash flood' 'Epidemic / Parasitic disease'
 'Lightning/Thunderstorms' 'Industrial accident / Chemical spill'
 'Mudslide' 'Industrial accident / Poisoning' 'Complex Disasters / Famine'
 'Industrial accident / Oil spill' 'Epidemic'
 'Insect infestation / Locust' 'Complex Disasters'
 'Industrial accident / Radiation' 'Miscellaneous accident'
 'Storm / Convective storm' 'Insect infestation' 'Sand/Dust storm'
 'Extreme temperature  / Severe winter conditions'
 'Insect infestation / Grasshopper' 'Mass movement (dry) / Avalanche'
 'Sudden subsidence' 'Storm / Extra-tropical storm' 'Snow/Ice'
 'Mass movement (dry)' 'Landslide / Rockfall' 'Impact'
 'Volcanic activity / Lava flow' 'Rain' 'Volcanic activity'
 'Animal accident' 'Storm/Surge' 'Derecho'
 'Volcanic activity / Pyroclastic flow ' 'Earthquake'
 'Glacial lake outburst' 'Industrial accident']

disaster_group ['Natural' 'Technological' 'Complex Disasters']

disaster_subgroup ['Climatological' 'Technological' 'Geophysical' 'Meteorological'
 'Hydrological' 'Biological' 'Complex Disasters' 'Extra-terrestrial']

In [50]:
df.columns

Index(['year', 'seq', 'disaster_group', 'disaster_subgroup', 'disaster_type',
       'disaster_subtype', 'disaster_subsubtype', 'country', 'region',
       'continent', 'location', 'dis_mag_scale', 'latitude', 'longitude',
       'local_time', 'start_year', 'start_month', 'start_day', 'end_year',
       'end_month', 'end_day', 'total_deaths', 'no_injured', 'no_affected',
       'no_homeless', 'total_affected', 'ISO'],
      dtype='object')

In [51]:
cols = ['year', 'disaster_group', 'disaster_type', 'country', 'region',
       'continent', 'total_deaths', 'total_affected', 'ISO']

In [52]:
# create a new dataframe with only the columns listed in cols
df = df[cols]

# find null values for each column
df.isnull().sum()

year              0
disaster_group    0
disaster_type     0
country           0
region            0
continent         0
total_deaths      0
total_affected    0
ISO               0
dtype: int64

In [53]:
# save this dataframe to a csv file in the data folder
df.to_csv(join(data_dir, "natural_disasters.csv"), index=False)

In [81]:
df_emissions = pd.read_csv(join(data_dir, "CW_emissions.csv"))

In [67]:
df_emissions.head()

  country       sector       gas  year  value (MtCO2e)
0     ABW  Agriculture       CH4  1850        0.000050
1     ABW  Agriculture  KYOTOGHG  1850        0.000054
2     ABW  Agriculture       N2O  1850        0.000005
3     ABW       Energy       CH4  1850        0.000199
4     ABW       Energy       CO2  1850        0.000000

In [57]:
# find the unique gas names
df_emissions['gas'].unique()

array(['CH4', 'KYOTOGHG', 'N2O', 'CO2', 'F-Gas'], dtype=object)

In [70]:
# value counts for each gas
df_emissions['gas'].value_counts()

N2O      164560
CH4      117300
CO2      112710
F-Gas     21420
Name: gas, dtype: int64

In [59]:
# get min and max year
df_emissions['year'].min(), df_emissions['year'].max()

(1850, 2019)

In [82]:
BIG_CATEGS = ["WORLD", "ANNEXI", "NONANNEXI", "BASIC", "UMBRELLA", "EUU", "LDC", "AOSIS"]

# remove rows with big categories
df_emissions = df_emissions[~df_emissions['country'].isin(BIG_CATEGS)]

# remove rows with sector name "Total excluding LULUCF"
df_emissions = df_emissions[df_emissions['sector'] != "Total excluding LULUCF"]

# remove rows with gas name "KYOTOGHG"
df_emissions = df_emissions[df_emissions['gas'] != "KYOTOGHG"]

In [83]:
df_emissions.shape

(415990, 5)

In [75]:
# get unique countries and ISO codes from df
df_countries = df[["country", "ISO"]]
df_countries.head()
# remove duplicate rows
df_countries = df_countries.drop_duplicates()

# reset index
df_countries = df_countries.reset_index(drop=True)
df_countries.head()

      country  ISO
0      Canada  CAN
1   Indonesia  IDN
2       China  CHN
3  Bangladesh  BGD
4       India  IND

In [79]:
# merge df_emissions "country" with df_countries "ISO"
df_emissions = df_emissions.merge(df_countries, left_on='country', right_on='ISO', how='left')

In [80]:
df_emissions.head()

  country_x       sector  gas  year  value (MtCO2e) country_y  ISO
0       ABW  Agriculture  CH4  1850        0.000050       NaN  NaN
1       ABW  Agriculture  N2O  1850        0.000005       NaN  NaN
2       ABW       Energy  CH4  1850        0.000199       NaN  NaN
3       ABW       Energy  CO2  1850        0.000000       NaN  NaN
4       ABW       Energy  N2O  1850        0.000004       NaN  NaN