#### Import libraries

In [1]:
import pandas as pd
from os import getcwd, pardir
from os.path import join, abspath

#### Get `EM-DAT` _natural disaster_ data

In [2]:
parent_dir = abspath(join(getcwd(), pardir))
data_dir = join(parent_dir, 'data')
df = pd.read_excel(join(data_dir, "transformed_emdat_natural_disasters.xlsx"))
df.head()

/opt/homebrew/Caskroom/mambaforge/base/envs/mgma/lib/python3.9/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,Year,Seq,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,Country,Region,Continent,...,Start Month,Start Day,End Year,End Month,End Day,Total Deaths,No Injured,No Affected,No Homeless,Total Affected
0,1900,9002,Natural,Climatological,Drought,Drought,Drought,Cabo Verde,Western Africa,Africa,...,NaN,NaN,1900,NaN,NaN,11000.0,NaN,NaN,NaN,NaN
1,1900,9001,Natural,Climatological,Drought,Drought,Drought,India,Southern Asia,Asia,...,NaN,NaN,1900,NaN,NaN,1250000.0,NaN,NaN,NaN,NaN
2,1901,3,Technological,Technological,Industrial accident,Explosion,Industrial accident / Explosion,Belgium,Western Europe,Europe,...,4.0,27.0,1901,4.0,27.0,18.0,NaN,NaN,NaN,NaN
3,1902,12,Natural,Geophysical,Earthquake,Ground movement,Earthquake / Ground movement,Guatemala,Central America,Americas,...,4.0,18.0,1902,4.0,18.0,2000.0,NaN,NaN,NaN,NaN
4,1902,3,Natural,Geophysical,Volcanic activity,Ash fall,Volcanic activity / Ash fall,Guatemala,Central America,Americas,...,4.0,8.0,1902,4.0,8.0,1000.0,NaN,NaN,NaN,NaN

In [3]:
df.columns

Index(['Year', 'Seq', 'Disaster Group', 'Disaster Subgroup', 'Disaster Type',
       'Disaster Subtype', 'Disaster Subsubtype', 'Country', 'Region',
       'Continent', 'Location', 'Dis Mag Scale', 'Latitude', 'Longitude',
       'Local Time', 'Start Year', 'Start Month', 'Start Day', 'End Year',
       'End Month', 'End Day', 'Total Deaths', 'No Injured', 'No Affected',
       'No Homeless', 'Total Affected'],
      dtype='object')

In [4]:
# rename all columns to lowercase and replace spaces with underscores
df.columns = df.columns.str.lower().str.replace(' ', '_')

In [5]:
df.columns

Index(['year', 'seq', 'disaster_group', 'disaster_subgroup', 'disaster_type',
       'disaster_subtype', 'disaster_subsubtype', 'country', 'region',
       'continent', 'location', 'dis_mag_scale', 'latitude', 'longitude',
       'local_time', 'start_year', 'start_month', 'start_day', 'end_year',
       'end_month', 'end_day', 'total_deaths', 'no_injured', 'no_affected',
       'no_homeless', 'total_affected'],
      dtype='object')

In [6]:
df.head()

,year,seq,disaster_group,disaster_subgroup,disaster_type,disaster_subtype,disaster_subsubtype,country,region,continent,...,start_month,start_day,end_year,end_month,end_day,total_deaths,no_injured,no_affected,no_homeless,total_affected
0,1900,9002,Natural,Climatological,Drought,Drought,Drought,Cabo Verde,Western Africa,Africa,...,NaN,NaN,1900,NaN,NaN,11000.0,NaN,NaN,NaN,NaN
1,1900,9001,Natural,Climatological,Drought,Drought,Drought,India,Southern Asia,Asia,...,NaN,NaN,1900,NaN,NaN,1250000.0,NaN,NaN,NaN,NaN
2,1901,3,Technological,Technological,Industrial accident,Explosion,Industrial accident / Explosion,Belgium,Western Europe,Europe,...,4.0,27.0,1901,4.0,27.0,18.0,NaN,NaN,NaN,NaN
3,1902,12,Natural,Geophysical,Earthquake,Ground movement,Earthquake / Ground movement,Guatemala,Central America,Americas,...,4.0,18.0,1902,4.0,18.0,2000.0,NaN,NaN,NaN,NaN
4,1902,3,Natural,Geophysical,Volcanic activity,Ash fall,Volcanic activity / Ash fall,Guatemala,Central America,Americas,...,4.0,8.0,1902,4.0,8.0,1000.0,NaN,NaN,NaN,NaN

In [8]:
df.shape

(25648, 26)

In [7]:
# check for missing values for each column
df.isnull().sum()

year                       0
seq                        0
disaster_group             0
disaster_subgroup          0
disaster_type              0
disaster_subtype           0
disaster_subsubtype        0
country                    0
region                     0
continent                  0
location                2339
dis_mag_scale           8887
latitude               22894
longitude              22895
local_time             24490
start_year                 0
start_month              502
start_day               3967
end_year                   0
end_month                821
end_day                 3881
total_deaths            5297
no_injured             17400
no_affected            15229
no_homeless            23018
total_affected          8660
dtype: int64

In [12]:
# find frequency of each disaster type
df['disaster_type'].value_counts()

Transport accident        6119
Flood                     5715
Storm                     4555
Earthquake                1573
Industrial accident       1551
Miscellaneous accident    1551
Epidemic                  1515
Drought                    792
Landslide                  785
Extreme temperature        607
Wildfire                   453
Volcanic activity          269
Insect infestation          95
Mass movement (dry)         48
Complex Disasters           14
Glacial lake outburst        3
Fog                          1
Impact                       1
Animal accident              1
Name: disaster_type, dtype: int64

In [11]:
# find unique values for columns "disaster_type", "disaster_subtype", "disaster_subsubtype", "disaster_group", "disaster_subgroup"
for col in ["disaster_type", "disaster_subtype", "disaster_subsubtype", "disaster_group", "disaster_subgroup"]:
    print(col, df[col].unique(), end="\n\n")

disaster_type ['Drought' 'Industrial accident' 'Earthquake' 'Volcanic activity'
 'Mass movement (dry)' 'Miscellaneous accident' 'Storm' 'Flood'
 'Transport accident' 'Epidemic' 'Landslide' 'Wildfire'
 'Extreme temperature ' 'Fog' 'Complex Disasters' 'Insect infestation'
 'Impact' 'Animal accident' 'Glacial lake outburst']

disaster_subtype ['Drought' 'Explosion' 'Ground movement' 'Ash fall' 'Rockfall' 'Fire'
 'Tropical cyclone' 'Flood' 'Water' 'Rail' 'Collapse' 'Bacterial disease'
 'Landslide' 'Other' 'Avalanche' 'Forest fire' 'Riverine flood'
 'Convective storm' 'Air' 'Viral disease' 'Mudslide' 'Tsunami' 'Storm'
 'Heat wave' 'Land fire (Brush, Bush, Pasture)' 'Gas leak' 'Wildfire'
 'Road' 'Fog' 'Coastal flood' 'Cold wave' 'Flash flood'
 'Parasitic disease' 'Chemical spill' 'Poisoning' 'Famine' 'Oil spill'
 'Epidemic' 'Locust' 'Complex Disasters' 'Radiation'
 'Miscellaneous accident' 'Insect infestation' 'Severe winter conditions'
 'Grasshopper' 'Subsidence' 'Extra-tropical storm' 'Mass movement (dry)'
 'Impact' 'Lava flow' 'Volcanic activity' 'Animal accident'
 'Pyroclastic flow ' 'Earthquake' 'Glacial lake outburst'
 'Industrial accident']

disaster_subsubtype ['Drought' 'Industrial accident / Explosion'
 'Earthquake / Ground movement' 'Volcanic activity / Ash fall'
 'Mass movement (dry) / Rockfall' 'Miscellaneous accident / Fire'
 'Miscellaneous accident / Explosion' 'Storm / Tropical cyclone' 'Flood'
 'Transport accident / Water' 'Transport accident / Rail'
 'Miscellaneous accident / Collapse' 'Epidemic / Bacterial disease'
 'Mass movement (dry) / Landslide' 'Industrial accident / Other'
 'Landslide / Avalanche' 'Wildfire / Forest fire' 'Flood / Riverine flood'
 'Tornado' 'Transport accident / Air' 'Epidemic / Viral disease'
 'Landslide' 'Landslide / Mudslide' 'Earthquake / Tsunami' 'Hail' 'Storm'
 'Extreme temperature  / Heat wave'
 'Wildfire / Land fire (Brush, Bush, Pasture)'
 'Industrial accident / Gas leak' 'Miscellaneous accident / Other'
 'Industrial accident / Fire' 'Wildfire' 'Transport accident / Road' 'Fog'
 'Flood / Coastal flood' 'Industrial accident / Collapse' 'Severe storm'
 'Winter storm/Blizzard' 'Extreme temperature  / Cold wave'
 'Flood / Flash flood' 'Epidemic / Parasitic disease'
 'Lightning/Thunderstorms' 'Industrial accident / Chemical spill'
 'Mudslide' 'Industrial accident / Poisoning' 'Complex Disasters / Famine'
 'Industrial accident / Oil spill' 'Epidemic'
 'Insect infestation / Locust' 'Complex Disasters'
 'Industrial accident / Radiation' 'Miscellaneous accident'
 'Storm / Convective storm' 'Insect infestation' 'Sand/Dust storm'
 'Extreme temperature  / Severe winter conditions'
 'Insect infestation / Grasshopper' 'Mass movement (dry) / Avalanche'
 'Sudden subsidence' 'Storm / Extra-tropical storm' 'Snow/Ice'
 'Mass movement (dry)' 'Landslide / Rockfall' 'Impact'
 'Volcanic activity / Lava flow' 'Rain' 'Volcanic activity'
 'Animal accident' 'Storm/Surge' 'Derecho'
 'Volcanic activity / Pyroclastic flow ' 'Earthquake'
 'Glacial lake outburst' 'Industrial accident']

disaster_group ['Natural' 'Technological' 'Complex Disasters']

disaster_subgroup ['Climatological' 'Technological' 'Geophysical' 'Meteorological'
 'Hydrological' 'Biological' 'Complex Disasters' 'Extra-terrestrial']

In [ ]:
cols = ['year', 'disaster_group', 'disaster_subgroup', 'disaster_type',
       'disaster_subtype', 'disaster_subsubtype', 'country', 'region',
       'continent', 'location', 'dis_mag_scale', 'latitude', 'longitude',
       'local_time', 'start_year', 'start_month', 'start_day', 'end_year',
       'end_month', 'end_day', 'total_deaths', 'no_injured', 'no_affected',
       'no_homeless', 'total_affected']