#### Import libraries

In [1]:
import pandas as pd
from os import getcwd, pardir
from os.path import join, abspath

#### Get `EM-DAT` _natural disaster_ data

In [2]:
parent_dir = abspath(join(getcwd(), pardir))
data_dir = join(parent_dir, 'data')
df = pd.read_excel(join(data_dir, "transformed_emdat_natural_disasters.xlsx"))
df.head()

/opt/homebrew/Caskroom/mambaforge/base/envs/mgma/lib/python3.9/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,Year,Seq,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,Country,Region,Continent,...,Start Month,Start Day,End Year,End Month,End Day,Total Deaths,No Injured,No Affected,No Homeless,Total Affected
0,1900,9002,Natural,Climatological,Drought,Drought,Drought,Cabo Verde,Western Africa,Africa,...,NaN,NaN,1900,NaN,NaN,11000.0,NaN,NaN,NaN,NaN
1,1900,9001,Natural,Climatological,Drought,Drought,Drought,India,Southern Asia,Asia,...,NaN,NaN,1900,NaN,NaN,1250000.0,NaN,NaN,NaN,NaN
2,1901,3,Technological,Technological,Industrial accident,Explosion,Industrial accident / Explosion,Belgium,Western Europe,Europe,...,4.0,27.0,1901,4.0,27.0,18.0,NaN,NaN,NaN,NaN
3,1902,12,Natural,Geophysical,Earthquake,Ground movement,Earthquake / Ground movement,Guatemala,Central America,Americas,...,4.0,18.0,1902,4.0,18.0,2000.0,NaN,NaN,NaN,NaN
4,1902,3,Natural,Geophysical,Volcanic activity,Ash fall,Volcanic activity / Ash fall,Guatemala,Central America,Americas,...,4.0,8.0,1902,4.0,8.0,1000.0,NaN,NaN,NaN,NaN

In [3]:
df.columns

Index(['Year', 'Seq', 'Disaster Group', 'Disaster Subgroup', 'Disaster Type',
       'Disaster Subtype', 'Disaster Subsubtype', 'Country', 'Region',
       'Continent', 'Location', 'Dis Mag Scale', 'Latitude', 'Longitude',
       'Local Time', 'Start Year', 'Start Month', 'Start Day', 'End Year',
       'End Month', 'End Day', 'Total Deaths', 'No Injured', 'No Affected',
       'No Homeless', 'Total Affected'],
      dtype='object')

In [4]:
# rename all columns to lowercase and replace spaces with underscores
df.columns = df.columns.str.lower().str.replace(' ', '_')

In [5]:
df.columns

Index(['year', 'seq', 'disaster_group', 'disaster_subgroup', 'disaster_type',
       'disaster_subtype', 'disaster_subsubtype', 'country', 'region',
       'continent', 'location', 'dis_mag_scale', 'latitude', 'longitude',
       'local_time', 'start_year', 'start_month', 'start_day', 'end_year',
       'end_month', 'end_day', 'total_deaths', 'no_injured', 'no_affected',
       'no_homeless', 'total_affected'],
      dtype='object')