#### Import libraries

In [8]:
import pandas as pd
from pandas_profiling import ProfileReport
from os import getcwd, pardir
from os.path import join, dirname, abspath, exists

#### Get `EM-DAT` _natural disaster_ data

In [10]:
parent_dir = abspath(join(getcwd(), pardir))
data_dir = join(parent_dir, 'data')
df = pd.read_excel(join(data_dir, "emdat_natural_disasters.xlsx"), skiprows=6)
df.head()

/opt/homebrew/Caskroom/mambaforge/base/envs/visual_analysis/lib/python3.9/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,Dis No,Year,Seq,Glide,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,Event Name,...,"Reconstruction Costs, Adjusted ('000 US$)",Insured Damages ('000 US$),"Insured Damages, Adjusted ('000 US$)",Total Damages ('000 US$),"Total Damages, Adjusted ('000 US$)",CPI,Adm Level,Admin1 Code,Admin2 Code,Geo Locations
0,1900-9002-CPV,1900,9002,NaN,Natural,Climatological,Drought,Drought,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3.077091,NaN,NaN,NaN,NaN
1,1900-9001-IND,1900,9001,NaN,Natural,Climatological,Drought,Drought,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3.077091,NaN,NaN,NaN,NaN
2,1901-0003-BEL,1901,3,NaN,Technological,Technological,Industrial accident,Explosion,NaN,Coal mine,...,NaN,NaN,NaN,NaN,NaN,3.077091,NaN,NaN,NaN,NaN
3,1902-0012-GTM,1902,12,NaN,Natural,Geophysical,Earthquake,Ground movement,NaN,NaN,...,NaN,NaN,NaN,25000.0,781207.0,3.200175,NaN,NaN,NaN,NaN
4,1902-0003-GTM,1902,3,NaN,Natural,Geophysical,Volcanic activity,Ash fall,NaN,Santa Maria,...,NaN,NaN,NaN,NaN,NaN,3.200175,NaN,NaN,NaN,NaN

#### Profile data

In [11]:
profile = ProfileReport(df, title="Natural Disaster Events - Report", explorative=True, minimal=True, html={'style':{'full_width':True}})
profile.to_notebook_iframe()

#### Save to `html` file

In [17]:
profile.to_file(join(data_dir, "emdat_natural_disasters_report.html"))

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [18]:
profile.to_file?

Signature: profile.to_file(output_file: Union[str, pathlib.Path], silent: bool = True) -> None
Docstring:
Write the report to a file.

By default a name is generated.

Args:
    output_file: The name or the path of the file to generate including the extension (.html, .json).
    silent: if False, opens the file in the default browser or download it in a Google Colab environment
File:      /opt/homebrew/Caskroom/mambaforge/base/envs/visual_analysis/lib/python3.9/site-packages/pandas_profiling/profile_report.py
Type:      method